@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
/*Estilos de preload*/
/*preload 1*/
.lds-ellipsis {
    /* change color here */
    color: #f6f2ff;

  }
  .lds-ellipsis,
  .lds-ellipsis div {
    box-sizing: border-box;
  }
  .lds-ellipsis {
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 60px;
   
    width: 80px;
    height: 10px;
    display: none;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 0;
    width: 13.33333px;
    height: 13.33333px;
    border-radius: 50%;
    background: currentColor;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }


/*preload 2*/

  .lds-facebook {
    /* change color here */
    color: #e1e1e1;
    
  }
  .lds-facebook,
  .lds-facebook div {
    box-sizing: border-box;
  }
  .lds-facebook {
    
    position: relative;

    left: -50px;


  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: currentColor;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0s;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
    
  }
  
  /*preload 3*/

  .lds-ring {
    /* change color here */
    color: #eefafe
  }
.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.active_load{

display: block;

}

.letra_botom span{


    opacity: 0.2;
}
  /*preloader 4*/
  
.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
  box-sizing: border-box;
}
.lds-spinner {
  color: white;
  position: relative;
  width: 100px;
  height: 100px;

}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: -10px;
  left: 35.8px;
  width: 8.4px;
  height:30.6px;
  border-radius: 20%;
  background: currentColor;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


  /* fin preload*/
  .cortina{
    display: flex;
    background: rgba(0, 0, 0, 0.691); /* Oscuro con transparencia */
    z-index: 1000;
    width: 10000px;
    height:  10000px;
    position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  }

  .parpadeo {
    animation: parpadear 1s infinite;
    
}
.parpadeo p{
 color: #ffff;
  
}

@keyframes parpadear {
    0%, 100% { opacity: 1; } /* Visible */
    50% { opacity: 0; } /* Invisible */
}


.content_input_file
{
 width: 100%;
 display: flex;
 justify-content: center;
 margin: 20px 20px 20px 20px;
}

 .container_inpu_file {
background-color: #fff;
padding: 30px 40px;
border-radius: 15px;
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
text-align: center;
width: 350px;
}

.content_title_file h5 {
margin-bottom: 20px;
font-size: 18px;
color: #333;
}

.custom-file-input {
position: relative;
display: inline-block; 
cursor: pointer;
}

.custom-file-input input[type="file"] {
opacity: 0;
position: absolute;

left: 0;
top: 0;
width: 100%;
height: 100%;
cursor: pointer;
}

.custom-file-label {
display: inline-block;
padding: 10px 20px;
background-color: #007bff;
border: 2px solid #007bff;
color: #fff;
border-radius: 10px;
font-weight: bold;
transition: background-color 0.3s ease, border-color 0.3s ease;
cursor: pointer;
}

.custom-file-label i {
margin-right: 8px;
}

.custom-file-label:hover {
background-color: #0056b3;
border-color: #0056b3;
}

#fileName {
margin-top: 15px;
font-size: 14px;
color: #555;
}
input{
 cursor: pointer;


}

 .container_all {
     width: 100%;
     display: flex;
     justify-content: space-around;
     margin-top: 20px;
     flex-wrap: wrap;
 }

 .box {


     width: 90%;
     display: flex;
     flex-wrap: wrap;
     margin: 10px 0;
     padding: 15px;
     border-radius: 8px;
     background-color: #fff;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 .container_content {


     width: 100%;
     padding: 10px;
     border-radius: 20px;

 }

 .coincidencias {
     background-color: #d4edda;
     border: 1px solid #c3e6cb;
     color: #155724;

 }

 .diferencias {
     background-color: #f8d7da;
     border: 1px solid #f5c6cb;
     color: #721c24;

 }


 .table_success{
     --bs-table-bg: none;
     background-color: #dcfee4 !important;
 }

 .table_danger{
   
     --bs-table-bg: none;
     background-color: #fca5a5 !important;
 }

 .box h3{

  color: #333;
 }

 .desactive{

  display: none !important;
 }
