



    .sidebar {
      width: 250px;
      background-color: #2c3e50;
      color: white;
      position: fixed;
      top: 0;
      left: -250px;
      height: 100%;
      padding: 5px 20px;
      transition: left 0.5s ease;
      z-index: 1000;
    }

    .sidebar.active {
      left: 0;
    }

    .sidebar ul {
      list-style: none;
      margin-top: 20px;
    }

    .sidebar ul li {
      padding: 10px 0;
      border-bottom: 1px solid #34495e;
    }

    .container-menu {

      position: relative;

      top: 60px;
    }

    .menu-btn {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 30px;
      cursor: pointer;
      z-index: 999;
      color: white;
      padding: 8px 13px;
      border: none;
      border-radius:20px;
      transition: all 0.5s;
    }
    
    .menu-btn:hover{

        background: #03e9f4;
  color: #050801 !important;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
    }

    .menu-btn.active {
      left: 250px;
      top: 20px;
      background-color: #2c3e50;
      color: white;
    }

    #btn-close {
      background-color: transparent;
      position: absolute;
      font-size: 24px;
      margin: 10px 20px 10px 50px;
      padding: 0px 20px 0px 20px;
      cursor: pointer;
      transition: all 0.2s ease;
      color: #fff;
      border: none;
               text-shadow:
        0 0 4px #7400ee,
        0 0 8px #7400ee,
        0 0 10px #7400ee;
       
    }

    #btn-close:hover {
      font-size: 27px;
          text-shadow:
        0 0 4px #c6021f,
        0 0 8px #ff0534,
        0 0 10px #a10111;
     
    }

    #btn-close span {
      position: relative;
      font-size: 13px;
      bottom: 4px;

    }

    .sidebar.active~.menu-btn {
      left: 250px;
    }

    .content {
      flex: 1;
      margin-left: 0;
      padding: 40px 20px 20px 20px;
      transition: margin-left 0.3s ease;
      width: 100%;
    }

    .sidebar.active~.content {
      margin-left: 250px;
    }

    @media (max-width: 768px) {
      .sidebar {
        width: 200px;
        left: -200px;
      }

    #btn-close {
      background-color: transparent;
      position: absolute;
      font-size: 24px;
      margin: 10px 20px 10px 20px;
      padding: 0px 20px 0px 20px;
      cursor: pointer;
      transition: all 0.2s ease;
      color: #fff;
      border: none;
    }
      .sidebar.active {
        left: 0;
      }

      .sidebar.active~.content {
        margin-left: 200px;
      }

      .menu-btn.active {
        left: 200px;
        top: 20px;
        background-color: #2c3e50;
      }
    }